{% load static %}

<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taller</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>

<body>
    <h1>Hola Comunidad</h1>
    <br>Espero que esten bien</br>

    <hr>
    <ul>
    {% for i in objeto %}

    <ul>
        <li><a href="autor/{{i.id}}">{{i.nombre}}</a></li>
    <ul>
        {% for u in i.profesion.all %}
        <li>{{u.nombre}}</li>
        {% endfor %}
    </ul>

    </ul>
    {% endfor %}

    {% if objeto%}
    <h2>TENEMOS EL OBJETO</h2>
    {% else %}
    <h2>NO TENEMOS EL OBJETO</h2>
    {% endif %}
    </ul>    
    </hr>

<script src="{% static "script.js" %}"></script>
</body>
</html>